/* #region common rules */

:root{
    /* primary */
    --clr-brand: hsl(158, 36%, 37%);
    --clr-bg:hsl(30, 38%, 92%);

    /* neutral */
    --clr-darker:hsl(212, 21%, 14%);
    --clr-grayish-dark:hsl(228, 12%, 48%);
    --clr-lighter: hsl(0, 0%, 100%);

}
/* 
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;s
*/
body{
    background-color: var(--clr-bg);
}
