/* #region common rules */
:root{
    /* primary */
    --clr-brand: hsl(158, 36%, 37%); 
    --clr-bg:hsl(30, 38%, 92%);

    /* neutral */
    --clr-darker:hsl(212, 21%, 14%);
    --clr-grayish-dark:hsl(228, 12%, 48%);
    --clr-lighter: hsl(0, 0%, 100%);

    /* font-weight */
    --fw-md: 500;
    --fw-xl:700;

}

body{
    background-color: var(--clr-bg);
    font-family: 'Montserrat', sans-serif;
}
main{
    max-height: 100%;
    padding:2rem;
}
img{
    max-width: 100%;
}
p{
    font-size: 0.875rem;
}
.category{
    font-size: 1rem;
}
h1{
    font-family: 'Fraunces', serif;
    font-weight: var(--fw-xl);
    font-size: 2.125rem;
    line-height: 2.5rem;
}

.category, .product_description, .original_price{
    color: var(--clr-grayish-dark);
}

/* #endregion common rules */

/* flex-container */
.row{
    flex-direction: column;
}

/* flex-items */
.product_img img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.product{
    background-color: var(--clr-lighter);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding:1.5rem;
}

.category{
    letter-spacing: 0.5rem;
}

.product_description{
    line-height: 1.875rem;
}

.price{
    gap:1rem;
    align-items: center;
}
.discount_price{
    color:var(--clr-brand);
    font-weight: var(--fw-xl);
    font-size: 2rem;
    font-family: 'Fraunces', serif;
}

.original_price{
    font-size: 0.875rem;
    text-decoration: line-through;
}

.add_to_cart button{
    width:100%;
    background-color: var(--clr-brand);
    color:var(--clr-lighter);
    padding-top:0.875rem;
    padding-bottom:0.875rem;
    font-size: 0.875rem;
    justify-content: center;
    gap:0.75rem;
    align-items: center;
    font-weight: var(--fw-xl);
    border: none;
}

/* hover effects  */
button:hover{
    background-color: hsl(158, 85%, 16%);
    transition: all 0.3s ease-in-out;
}


/* Responsive */

@media screen and (min-width: 768px){ 
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    .row{
        flex-direction: row;
    }
    .product_img img{
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0;
    }
    .product{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
    }
}

@media screen and (min-width: 992px){
    main{
        max-height: 580px;
        max-width: 780px;
    }
}
